html {
  scroll-behavior: smooth;
  background-color: #ff1616;
}

p{
    color: white;
    font-family: "arial";
}

nav{
  background-color: rgb(00,00,00,0.8);
}

#video{
  text-align: center;
}

#menu {
  color: aliceblue;
  padding: 20px;
}

#menu:hover {
  color: #ff1616;
  transition: 1s;
}

nav{
  text-align: center;
  padding: 30px;
  margin-top: -20px;
  margin-left: -10px;
  margin-right: -10px;

}

h1{
  color: aliceblue;
}

h2{
  text-align: center;
  color:aliceblue;
}

#fleche{
  border-radius: 10%;
  width: 40px;
  height: 40px;
}

#fleche:hover{
  width: 50px;
  height: 50px;
  transition: 1s;
}

#ff{
  text-align: center;
  margin-top: 15px;
}

#imgpre{
  text-align: center;

}

#bodyachille{
  text-align: center;
}

#retourpage{
  color: white;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
}

#retourpage:hover{
  color: #ff1616;
  background-color: white;
  transition: 1s;
}



  


#imgpres{
  display: inline-block;
  padding: 10px;
}

#imgpres:hover{
  transform: scale(1.03);
  transition: 1s;
}

figcaption{
  background-color: rgb(00, 00, 00,0.5);
  color:white;
  text-align: center;

}

#imgidee{
  text-align: center;
}

#imgimg{
  padding: 20px;
}

#leg1{
  margin-top: -20px;
  margin-right: 130px;
  margin-left: 130px;
}

#cognat{
  border-radius: 50%;
}

#candidat1{
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
}

#candidat1:hover{
  scale: 1.03;
  transition: 1s;

}


h1{
  text-align: center;
}

#cc{
  text-align: center;
}

#insta:hover{
  scale: 1.1;
  transition: 1s;
}

footer{
  text-align: center;
  background-color: rgb(00,00,00,0.8);
  margin-bottom: -30px;
  padding-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
  
}

#form{
  width:100%;
  float:left;
  text-align:center;
}

#instagram{
  background-color: rgb(00, 00, 00,00);
}