html {
  scroll-behavior: smooth;
  background-color: #ff1616;
}

p{
    color: white;
    font-family: "arial";
}

nav{
  background-color: rgb(00,00,00,0.8);
}

#video{
  text-align: center;
}

#menu {
  color: aliceblue;
  padding: 20px;
}

#menu:hover {
  color: #ff1616;
  transition: 1s;
}

nav{
  text-align: center;
  padding: 30px;
  margin-top: -20px;
  margin-left: -10px;
  margin-right: -10px;

}

h1{
  color: aliceblue;
}

h2{
  text-align: center;
  color:aliceblue;
}

#fleche{
  border-radius: 10%;
  width: 40px;
  height: 40px;
}

#fleche:hover{
  width: 50px;
  height: 50px;
  transition: 1s;
}

#ff{
  text-align: center;
}

#imgpre{
  text-align: center;
  
}

#imgpres{
  display: inline-block;
}

#imgpres:hover{
  transform: scale(1.03);
  transition: 1s;
}

figcaption{
  background-color: rgb(00, 00, 00,0.5);
  color:white;
  text-align: center;
  margin-right: 150px;
  margin-left: 150px;
}

#imgidee{
  text-align: center;
}

#imgimg{
  padding: 20px;
}

#leg1{
  margin-top: -20px;
  margin-bottom: 10px;
}